
li{
  list-style-type:none;
}

p.style{
  font-weight:300;
  font-size:1.25rem;
}

.pricing-Content{
  max-width:650px;
}


.custom {
  font-size: 1.10rem;
  font-weight:300;
  line-height:2.0;
}

.font-weight{
  font-weight:400;
}

img{
  width:25px;
}

.copyRight {
  font-size:12px;
  line-height:1.6;
}

.size{
  font-size:.85rem;
}

@media screen and (max-width:767px){
  .spacing{
    margin-top: 1.5rem;
  }
}
