

h1 {
   font-family: 'Tiempos Headline' , sans-serif,serif;
  text-transform: lowercase;
  color:#0f4668;
  font-size:55px;
  font-weight: lighter;
}

img {
  margin-top:5%;
  /* opacity: .8;
  filter:brightness(70%) */
}

.saturation{
  border:1px solid red;
  color: red;
  /* background: linear-gradient(transparent, rgba(0, 0, 0,0.5)); */
  position:absolute;
  width:100%;
  height:100%;
  z-index:10;

}

li {
  display:inline;
  padding: 0 2rem;
  font-family: 'Avenir', sans-serif,serif;
  color: 	#c0c0c0;
  font-size:16px;
  font-weight:bold;

}


.container {
  width: 100%;
  position:relative;

}



.row {
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 5%;
}

.border-bottom {
  border-bottom: 1px solid #c0c0c0;
}

.button {
  font-family: 'Avenir', sans-serif,serif;
  color: white;
  font-weight: 500;
  font-size: 16px ;
  background-color: #0f4668;
  height:50px;
  width: 100px;
  border-radius: 5px;
}
